# windows cmd/powershell: 
# > python3 -m pip install -r requirements.txt
# > pip install -r requirements.txt
pandas
requests
plotly
wheel
websocket
websocket-client
flask
Jinja2
dash
python-binance
TA-Lib
flask-cors

#if any dependencies fail on windows: use pip install --user python-binance || pip install --user "library-name"


# trading bot not open to public yet